.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.colContainerRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colWithButtons {
    width: 50%;
    color: #400947;
}

.linkTextFormat {
    text-decoration: none;
    color: white;
}

.linkTextFormat:hover {
    text-decoration: none;
    color: white;
}

.btnHomePage {
    width: 100%;
}

@media only screen and (max-width: 575px) { 
    .colContainerLeft {
        display: none;
    }

    .colWithButtons {
        width: 95%;
        text-align: center;
    }
}